@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.background-pattern {
  background-image: url('/background-pattern-desktop.svg');
  background-size: contain;
  background-position: start; /* Resmin merkezde görünmesi için */
  background-repeat: no-repeat; /* Resmin tekrar etmemesi için */
  height: 25vh; /* Yükseklik, %25 olacak şekilde ayarlanıyor */
}